<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Template</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="container">
        <nav>
            <div id="logo">Brand.</div>
            <div class="navbar">
                <a href="#home" class="nav-link">Home</a>
                <a href="#about" class="nav-link">About</a>
                <a href="#contact" class="nav-link">Contact</a>
            </div>
        </nav>

        <header id="home">
            <div class="hero">
                <h1>Discover <br> Excellence</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, vel expedita repudiandae eum
                    consequuntur.</p>
                <a href="#about" class="btn">Learn More</a>
            </div>
        </header>

        <main>
            <section id="about">
                <div class="section-content">
                    <h2>About Us</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nam sit harum, temporibus,
                        optio cum debitis repellendus aut tempore animi exercitationem corrupti assumenda. Reprehenderit
                        ad consequuntur, recusandae placeat natus voluptatibus!</p>
                </div>
            </section>

            <section id="contact">
                <div class="section-content">
                    <h2>Contact</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    <form class="basic-form">
                        <input type="text" placeholder="Name" required>
                        <input type="email" placeholder="Email" required>
                        <button type="submit" class="btn">Submit</button>
                    </form>
                </div>
            </section>
        </main>

        <footer>
            <p>&copy; 2026 LovanshGaur. All rights reserved.</p>
        </footer>
    </div>
    <script src="app.js"></script>
</body>

</html>